@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family:  "roboto";
}
.container{
    max-width:  1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
}
.header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.header__list{
    display: flex;
    column-gap: 45px;
    list-style: none;
}
.header__link{
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #0B3B3C;
    text-decoration: none;
}
.logo__img{
    width: 130px;
}
.header__btns{
    display: flex;
    align-items: center;
    column-gap: 30px;
}
.header__btn{
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #0B3B3C;
    text-decoration: none;
}
.intro{
    background: url(../img/intro__bg.png) center;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: calc(100vh - 70px);
    position: relative;
}
.intro__body{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.intro__btns{
    display: flex;
    flex-direction:column;
    row-gap: 35px;
    margin: 35px  auto;
    max-width: 350px;
}
.intro__title{
    font-weight: bold;
    font-size: 54px;
    line-height: 80px;
    text-align: center;
    letter-spacing: 1.8px;
    color: #0B3B3C;
}
.intro__text{
    font-size: 18px;
    line-height: 30px;
    color: #0B3B3C;
    max-width: 480px;
    margin: 25px auto;
}
.intro__btn{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2.1px;
    text-transform: uppercase;
    color: #7E0707;
    text-decoration: none;
    padding: 15px 0;
    border: 2px solid #7E0707;
    transition: 500ms ease;
}
.intro__btn:hover{
    background:#7E0707;
    color: #fff;
}
.adventages{
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);    
    margin-bottom: 50px;
}
.adventages-top__body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 35px;
}
.adventages__top{
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 90px;
}
.adventages-top__item{
    display: flex;
    align-items: center;
    column-gap: 15px;
}
.adventages-btm__top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    margin-bottom: 50px;
}
.adventages-btm__star{
    width: 20px;
}
.adventages-btm__text{
    color: #0B3B3C;
    font-size: 20px;
    font-weight: 500;
}
.adventages-btm-text__primary{
    color: #00B67A;
}
.adventages-btm__items{
    display: flex;
    justify-content: space-between;
}
.adventages__btm-item__img{
    width: 300px;
    height: 250px;
    object-fit: cover;
}
.adventages-btm__item{
    text-align: center;
}
.adventages-btm-item__title{
    color: #0B3B3C;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 20px;
}
.adventages-btm-item__text{
    color: #0B3B3C ;
    line-height: 25px;
    max-width: 300px;
}
.adventages__next__icon{
    width: 80px;
   margin: 50px 50% 20px 50%;
}
.about{
    margin-bottom: 50px;
}
.about__items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:   10px ;
}
.about__item{
    text-align: center;
    background: #E8EFE9;
    padding-top: 20px;
    padding-bottom: 50px;
    margin-right: 40px;
    padding-left: 40px;
}
.about__title{
    margin-bottom: 40px;
    font-weight: normal;
    font-size: 35px;
    line-height: 60px;
    letter-spacing: 1.2px;
    color: #0B3B3C;
    text-align: center;
}
.about-item__img{
    width: 400px;
}
.about-item__title{
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 0.72px;
    color: #0B3B3C;
    margin-top: 10px;
}
.about-item__text{
    margin-top: 10px;
    font-size: 16px;
    line-height: 29px;
    color: #0B3B3C;
    max-width: 470px;
    width: 100%;
    margin-bottom: 22px;
}
.about-item__btn{
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2.1px;
    text-transform: uppercase;
    color: #0B3B3C;
    text-decoration: none;
    padding-bottom: 5px;
    border-bottom: 2px solid #0B3B3C;
}
.methods{
    background: #E8EFE9;
    padding: 50px;
    margin-bottom: 40px;
}
.methods__body{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.methods__left{
    max-width: 600px;
    width: 100%;
}
.methods-top__btn{
    font-weight: bold;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #0B3B3C;
    text-decoration: none;
    background: #BDCDC5;
    padding: 5px 7px;
}
.methods__title{
    font-weight: bold;
    font-size: 36px;
    line-height: 60px;
    letter-spacing: 1.2px;
    color: #0B3B3C;
    margin-top: 25px;
}
.methods__text{
    font-size: 16px;
    line-height: 29px;
    color: #0B3B3C;
    margin-top: 25px;
    margin-bottom: 25px;
}
.methods-btm__btn{
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2.1px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    padding: 15px 100px;
    background: #7E0707;
}
.methods__right{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}
.methods-right__item{
    max-width: 150px;
    width: 100%;
    text-align: center;
    padding: 20px 40px;
    background: #fff;
}
.methods__icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    margin-top: 55px;
}
.methods-item__text{
    font-size: 13px;
    line-height: 29px;
    color: #0B3B3C;
}
.methods-item__icon{
    font-size: 12px;
}
.methods-right__title{
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    color: #0B3B3C;
}
.profile{
    margin-bottom: 105px;
}
.profile__content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.profile__text{
    font-size: 18px;
    line-height: 32px
    text-align: center;
    color: #0B3B3C;
    margin-bottom: 10px;
}
.profile__title{
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    color: #0B3B3C;
    margin-bottom: 30px;
}
.profile__icons{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
}
.profile-star__title{
    font-weight: 500;
    margin-right: 7px;
    margin-left: 7px;
}
.team__title{
    font-weight: normal;
    font-size: 35px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 1.2px;
    color: #0B3B3C;
    margin-bottom: 50px;
}
.team__text{
    font-size: 20px;
    line-height: 43px;
    text-align: center;
    letter-spacing: 0.72px;
    color: #0B3B3C;
    width: 820px;
    margin: 0 auto 30px auto;
}
.team__items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.team-item__title{
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    color: #0B3B3C;
    margin-top: 35px;
}
.team-item__text{
    color: #91AB9F;
}
.team__content{
    border-bottom: 1px solid #BDCDC5;
    padding-bottom: 50px;
    margin-bottom: 50px;
}
.team-btm__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 165px;
}
.team-btm__right{
    display: flex;
    align-items: center;
}
.team-btm__phone-icon{
    font-size: 30px;    
    color: #D2DADA;
    border: 1px solid #7b7e7e;
    padding: 10px;
    border-radius: 50%;
    margin-right: 20px;
}
.team-btm__title{
    font-weight: normal;
    font-size: 20px;
    line-height: 43px;
    letter-spacing: 0.72px;
    color: #0B3B3C;
}
.team-btm__text{
    font-size: 15px;
    line-height: 29px;
    color: #91AB9F;
}
.team-btm__btn{
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2.1px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    padding: 15px 70px;
    background: #7E0707;
}